.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #d9e9fd 0%, #d3f0fa 100%);
}

.sidebar {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 220px;
    min-width: 220px;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar .list-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
    width: 100%;
    min-width: 220px;
}

.sidebar .list-group-item:hover {
    background-color: #f0f2f5;
}

.sidebar .btn {
    width: 100%;
    min-width: 220px;
}

.buttonSize {
    width: 100%;
    min-width: 180px;
}
.bar {
    background-color: royalblue;
    position: fixed;
    left: 220px;
    top: 0;
    height: 70px;
    width: 200vh;
}

.title {
    color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
  }

.formRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.formRow .form-group {
  flex: 1;
  margin-right: 10px;
}

.formRow .form-group:last-child {
  margin-right: 0;
}

.formRow .removeButton {
  margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }

.removeButton {
  margin-top: 30px;
}
.content {
    position: relative;
    left: 220px;
    top: 70px;
    width: calc(100% - 50px); /* Adjusted width to calculate 100% width minus sidebar width */
    height: calc(100vh - 100px); /* Adjusted height to calculate viewport height minus top bar height */
    overflow: auto;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 150px; /* Adjust the maximum height of the image */
    object-fit: contain;
}


  