.uploadImageContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #d9e9fd 0%, #d3f0fa 100%);
    font-family: 'Roboto', sans-serif;
}

.inputFile {
    margin-bottom: 20px;
}

.uploadButton {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.uploadButton:hover {
    background-color: #f0f2f5;
}
